:root{
    --primary-color: white;
    --secondary-color: gray;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

h1{
    font-size: 46px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 18px;
    font-weight: bolder;
}

p{
    color: var(--secondary-color);
    font-size: 16px;
}
.background-color{
    background-color: black;
 }

 .display-flex{
    display: flex;
}

.navbar{
    justify-content: space-around;
    align-items: center;
}

.link-item{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary-color);
}

#link-item{
    border: solid thin var(--secondary-color);
    border-radius: 50px;
    padding-bottom: 2px;
    padding-top: 12px;
    padding-left: 2px;
    padding-right: 0px;
    
}

.list-item{
    list-style: none;
    margin-right: 30px;
}

#home{
    background-color: tomato;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    height: 38px;
    width: 92px;
    margin-top: -20px;
    color: var(--primary-color);
}

#h3{
    color: tomato;
    font-size: 36px;
    font-style: italic;
}

#h1{
    font-size: 4.875rem;
    margin-bottom: -10px; 
}

.bar{
    display: none;
}

/* shape styles */

.shape{
    gap: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

#shape{
    font-family: cursive;
}

.shape-content{
    color: white;
}

.shape-items{
    margin-top: 150px;
}

.ball{
    height: 20px;
    width: 20px;
    background-color: tomato;
    border-radius: 50px;
    padding: 2px;
    margin-top: 5px;
}

.video-badge2{
    margin-left: -60px;
    margin-top: -90px;
}

#video-badge2{
    background-color: #222222;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 20px;
    text-align: initial;
    gap: 10px;
}

#video-number2{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

#tutorial{
    color: var(--secondary-color);
    font-size: 0.rem;
    font-weight: 400; 
} 


.video-badge1{
   margin-bottom: -280px;
   margin-left: 280px;
}

 #video-badge1{
    background-color: #222222;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 20px;
}
#video-number1{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
}
#workout{
    color: var(--secondary-color);
    font-size: 0.5rem;
    font-weight: 400; 
}

.btn{
    color: var(--primary-color);
    background-color: tomato;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    height: 45px;
    width: 190px;
}

#btn{
    color: var(--primary-color);
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border-color: white;
    height: 45px;
    width: 190px;
}

/* habits styles */

.habits{
    text-align: center;
}

.habits-content{
    text-align: center;
    margin-top: 120px;
}

.habits-items{
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
}

.habits-sub-items{
    text-align: center;
}

.habits-images{
    border-radius: 100px;
}

/* mile styles */

.mile{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 15px;
    background-color: #222222;
    justify-content: space-between;


}

.mile-content{
    text-align: initial;
}

.mile-items img{
    width: 100%;
    border-radius: 5px;
}


/* diet styles */

.diet{
    text-align: center;
    flex-direction: column;
}

/* bmi styles */
thead{
    color: var(--primary-color);
}
tbody{
    color: var(--secondary-color);
}
td,th {
    border: 1px  solid var(--secondary-color);
    padding: 5px 10px;
}

.bmi-content{
    margin-top: 80px;
    margin-left: 420px;
}

.bmi-items{
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: #222222;
}


.data{
    background-color: #222222;
    height: 32px;
    width: 170px;
    margin: 5px;
    border: 1px  solid var(--secondary-color);
    border-radius: 5px;

}

#sex{
    background-color: #222222;
    height: 35px;
    width: 176px;
    margin: 5px;
    border-radius: 5px;
    color: var(--secondary-color);
}

#activity{
    background-color: #222222;
    height: 35px;
    width: 367px;
    margin: 5px;
    border-radius: 5px;
    color: var(--secondary-color);
}

/* team styles */

.team-content{
    text-align: center;
    margin-top: 80px;
}

.team-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 20px;
    text-align: center; 
    background-color: rgb(32, 26, 26);
}

.trainer{
    width: 100%;
    border-radius: 20px;
}

.ti{
    margin-top: -90px;
    margin-left: -90px;
}

/* footer styles */
footer{
    background-color: rgb(32, 26, 26);
    margin-top: 80px;
    margin-bottom: -50px;
}
.footer-content{
    padding: 50px;
    justify-content: space-evenly;
}
.footer-items{
    text-align: center;
    padding: 2px;
}
ul{
    color: var(--secondary-color);
    list-style: none;
}
hr{
    width: 1200px;
    border: 1px solid var(--secondary-color);
}
#h10{
    color: tomato;
}

/* small size device */
@media screen and (max-width: 576px){

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 16px;
        font-weight: bolder;
    }
    
    p{
        color: var(--secondary-color);
        font-size: 14px;
    }

    .shape,
    .habits-items,
    .mile,
    .bmi-items,
    .footer-content{
        flex-direction: column;
    }
    
    .shape{
        margin-top: 10px;
    
    }

    .shape-items{
        margin-top: -50px;
    }

    .link-item{
        display: none;
    }

    #h1{
        font-size: 2.875rem;
    }

    .btn{
        height: 45px;
        width: 160px;
    }
    
    #btn{
        height: 45px;
        width: 160px;
    }

    #club{
        display: none;
    }

    .bar{
        display: block;
    }

    .video-badge1{
        margin-bottom: -170px;
        margin-left: 200px;
     }

    .video-badge2{
        margin-left: -30px;
        margin-top: -250px;
    }

    .habits-content{
        margin-top: 200px;
    }

    .mile{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 50px;
    }

    #mile-btn{
        width: 280px;
    }

    .diet{
        flex-direction: column;
    }

    .diet-food{
        height: 100%;
        width: 90%;
    }

    .bmi-content{
        margin-left: 13px;
    }
    .bmi-items{

       flex-direction: column;
    }

    .team-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-items{
        text-align: left;
    }
    
    hr{
        width: 400px;
    }
    
    #all{
        margin-left: 50px;
    }
}